.conteiner {
  height: 80vh;
  margin-left: 50px;
}

img {
  height: 22rem;
  width: 100%;
}
.conteiner > h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  width: 90%;
}

.conteiner > h3 > a {
  color: gray;
  text-align: justify;
  width: 90%;
}
