.conteiner {
  display: flex;
  flex-direction: column;
}

.conteiner .card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.conteiner .card .bigcard {
  height: 10rem;
  width: 50%;
}

.conteiner .card .smallcard {
  height: 2.5rem;
  width: 50%;
}
